<!DOCTYPE html>
<html>

{% block html_head_container %}
	{% include 'layouts/head.twig' %}
	{% block head %}{% endblock %}
{% endblock %}
    <body class="{{body_class}} bg-dark-bg text-gray-100">
        {% include "layouts/header.twig" %}
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include "layouts/footer.twig" %}
        {% block footer %}{% endblock %}
        {{function('wp_footer')}}
    </body>
</html>
