{% set menu_items = get_menu_items('3') %}
<header class="site-header">
	<img class="site-header-logo" src="{{ site.theme.link }}/images/orbit-white.svg"/>
	<nav>
		<ul>
			{% for item in menu_items %}
				<li>
					<a href="{{ item.link }}">{{ item.title }}</a>
				</li>
			{% endfor %}
		</ul>
	</nav>
</header>
