{% set menu_items = get_menu_items(settings.main_menu) %}

<!-- Main Header -->
<header class="bg-[#1a1a1a] border-b border-gray-800 sticky top-0 z-50 shadow-lg">
  <div class="px-4 ml-auto mr-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16"> 
      <!-- Logo -->
      <div class="flex items-center gap-3">
        <div class="flex flex-col">
          {% if settings.site_logo %}
          <a href="{{ site.link }}">
          <img class="w-40 object-cover" src="{{ settings.site_logo | attachment_url }}" alt="Rifas bodegom unifam" />
          </a>
          {% endif %}
        </div>
      </div>
      <!-- Logo -->

      <!-- Desktop Navigation -->
      {{ snippet('desktop-nav', { menu_items: menu_items }) }}
      <!-- Desktop Navigation -->
    </div>

    <!-- Mobile Menu -->
    {{ snippet('mobile-nav', { menu_items: menu_items }) }}
    <!-- Mobile Menu -->    
  </div>
</header>
<!-- Main Header -->
